body
{
   background-color: #1E90FF;
   color: #4F4F4F;
   font-family: Calibri;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#welcome
{
   background-color: transparent;
   background-image: url(images/index_welcome_bkgrnd.png);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: 100% 100%;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#Line1
{
   border-color: #FFFFFF;
   border-style: groove;
   border-width: 4px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
}
#Heading1
{
   color: #A0A0A0;
   font-family: Calibri;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#ListView1{
   font-family: Calibri;
   font-weight: normal;
   font-size: 0;
   border-width: 0;
   width: 100%;
   height: 100%;
}
#ListView1 .ui-btn 
{
   margin: .5em 0;
   padding: 12px 18px 12px 18px;
   display: block;
   position: relative;
   text-align: center;
   text-overflow: ellipsis;
   overflow: hidden;
   cursor: pointer;
}
#ListView1 .ui-btn:link 
{
   text-decoration: none !important;
}
#ListView1 .ui-btn, label.ui-btn 
{
   border-width: 1px;
   border-style: solid;
}
#ListView1, #ListView1 > li 
{
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 13px;
}
#ListView1 > li 
{
   display: block;
   position: relative;
   overflow: visible;
}
#ListView1 > .ui-li-static, #ListView1 > .ui-li-divider, #ListView1 > li > a.ui-btn 
{
   margin: 0;
   display: block;
   position: relative;
   text-align: left;
   text-overflow: ellipsis;
   overflow: hidden;
}
#ListView1 > .ui-li-static, #ListView1 > .ui-li-divider, #ListView1 > li > a.ui-btn 
{
   border-style: solid;
   border-width: 1px 1px 0 1px;
   font-weight: normal;
}
#ListView1 .ui-state-default
{
   color: #454545 !important;
}
#ListView1 .ui-state-hover
{
   color: #2B2B2B !important;
}
#ListView1 .ui-state-active
{
   color: #FFFFFF !important;
}
#ListView1 > .ui-li-divider 
{
   padding: 10px 10px 10px 10px;
   cursor: default;
   outline: 0;
}
#ListView1 > .ui-li-static 
{
   padding: 12px 18px 12px 18px;
}
#ListView1 > li.ui-first-child, #ListView1 > li.ui-first-child > a.ui-btn 
{
   -webkit-border-top-left-radius: 4px;
   -moz-border-top-left-radius: 4px;
   border-top-left-radius: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-top-right-radius: 4px;
   border-top-right-radius: 4px;
}
#ListView1 > li.ui-last-child, #ListView1 > li.ui-last-child > a.ui-btn
{
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-bottom-left-radius: 4px;
   border-bottom-left-radius: 4px;
   -webkit-border-bottom-right-radius: 4px;
   -moz-border-bottom-right-radius: 4px;
   border-bottom-right-radius: 4px;
}
#ListView1 > .ui-li-has-icon > .ui-btn, #ListView1 > .ui-li-static.ui-li-has-icon 
{
   min-height: 0px;
   padding-left: 36px;
}
#ListView1 > .ui-li-static.ui-last-child, #ListView1 > .ui-li-divider.ui-last-child, #ListView1 > li.ui-last-child > a.ui-btn 
{
   border-bottom-width: 1px;
}
#ListView1 > .ui-li-has-icon > img:first-child, #ListView1 > .ui-li-has-icon > .ui-btn > img:first-child 
{
   border-width: 0;
   position: absolute;
   left: 18px;
   top: 12px;
   max-width: 0px;
   max-height: 0px;
}
#ListView1 p 
{
   margin: 0;
   padding: 8px 0px 0px 0px;
   font-size: 11px;
   font-weight: normal;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#Label1
{
   border: 0px #FFFFFF solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#4F4F4F;
   font-family: Calibri;
   font-weight: bold;
   font-size: 20px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Image2
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#PageFooter1
{
   background-color: #F5F5F5;
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#wb_down-arrow
{
   top: auto !important; 
   bottom: 25px !important;
   left: 50% !important;
   margin-left: -25px;
}
